.arrow_animation_button {
    display: inline-block;
    position: relative;
    color: #fff;
    /* border-radius: 10px; */
}

.arrow_animation_button::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 13px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    animation: slideBlink 1s linear infinite;
}

@keyframes slideBlink {
    from {
        opacity: 0;
        top: 0px;
    }
    to {
        opacity: 1;
        top: 10px;
    }
}

img.stamp {
    height: 40px;
    width: 40px;
}